h1 {
   color: brown;
   font-size:xx-large;
   
   }
body {
    background-color:wheat
     }
p  {
    color: cadetblue;
    font-size: large;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
   }
li {
    color:brown;
    font-size: large;
    font-weight: bold;
}


   
